/* General container styling */
.inventory-container {
    padding: 20px;
  }
  
  /* Center the heading */
  .inventory-container h1 {
    text-align: center;
  }
  
  /* Table styling */
  table {
    width: 60%;
    margin: 0 auto;
    border-collapse: collapse;
  }
  
  th,
  td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
  }
  
  
  /* Buttons styling */

  
  /* Modal Styles */
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    text-align: center;
  }
  input[type="text"] {
    width: 80%;
    height: 3px;
    padding: 8px;
    margin-top: 5px;
  }
  
  .modal-actions {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
  }
  
  .modal-actions .add-button,
  .modal-actions .cancel-button {
    flex: 1;
    margin: 0 5px;
  }
  
  .cancel-button {
    background-color: #6c757d;
  }
  
  .cancel-button:hover {
    background-color: #5a6268;
  }
  
  