/* General styles */
body {
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
  }
  
  h1 {
    text-align: center;
    margin-top: 20px;
    font-size: 2rem;
  }
  
  
  .group-stats {
    margin: 20px 0;
    font-size: 1.1rem;
  }
  
  /* Table styles */
  table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: white;
  }
  
  th, td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
  }
  
  th {
    background-color: #f8f9fa;
  }
  
  /* Modal styles */
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .form-row{
    margin-bottom:15px;
  }
  input[type="text"],
  input[type="number"] {
  width: calc(100% - 16px);
  padding: 8px;
  margin-top: 5px;
}
  .modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    width: 300px;
  }
  
  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.5rem;
    cursor: pointer;
  }

  .points-actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .points-actions input {
    width: 60px;
    padding: 5px;
    margin: 0 5px;
    text-align: center;
  }
  
  .points-actions button {
    padding: 6px 12px;
    font-size: 0.8rem;
  }
  